include includes/header
div#page
	div#content
		h1= name
		// export data form
		form(method='post', id='export')
			fieldset
				input(type='submit', name='exporting', value='Export all data')
		include includes/latest_information
		include includes/navigation
		// javascript performance
		h2.rule-title JavaScript Performance
		div#chart-javascript.graph
			table.statistics
				caption A table to show JavaScript Performance
				thead
					tr
						th Time of Commit
						-each set in statistics[0]
							th= set.name
				tbody
					-each set, i in statistics
						tr
							td= new Date(reports[i].date).toLocaleDateString() + '&nbsp;' + new Date(reports[i].date).toLocaleTimeString()
							-each value in set
								td=value.value
		// form for selecting different rules
		form(method='post', class='rule-options')
			fieldset(class='date collapsible')
				h3.first Change the date range
					span.arrow
				ul
					li
						-var to = new Date(reports[0].date.getTime() + (1000*3600*24)), from = reports[statistics.length-1].date;
						label(for='js-date-from') From:
						input(type='text', name='date-from', id='js-date-from', class='has-date-picker date-from', value=(from.getMonth() + 1) + '/' + from.getDate() + '/' + from.getFullYear())
					li
						label(for='js-date-to') To:
						input(type='text', name='date-to', id='js-date-to', class='has-date-picker date-to', value=(to.getMonth() + 1) + '/' + to.getDate() + '/' + to.getFullYear())
			fieldset.collapsible
				h3.last Update the rules shown
					span.arrow
				ul.rule-list
					li.hidden
						input(type='text', name='chart-type', value='javascript', readonly='readonly')
					li.hidden
						input(type='text', name='project', value=name, readonly='readonly')
					-var checked=false
					-each rule, i in statistics[0]
						-if (selected !== null)
							-each name in selected[0]
								-if (name.id === rule.id)
									-checked=true
						-else
							-if ((i + 1) <= 4)
								-checked=true
							-else
								-checked=false
						li
							-if (checked === false)
								input(type='checkbox', name='rules[]', value=rule.id, id=rule.id)
								label(for=rule.id)= rule.name
							-else
								input(type='checkbox', name='rules[]', value=rule.id, id=rule.id, checked='checked')
								label(for=rule.id)= rule.name
								-checked=false
			input(type="submit", name="update", value="Update Graph")
//footer
include includes/footer
//scripts
include includes/scripts