include includes/header
div#page
	div#content
		h1= name
		// export data form
		form(method='post', id='export')
			fieldset
				input(type='submit', name='export-project', value='Export all data')
		include includes/latest_information
		include includes/navigation
		// javascript performance
		h2 JavaScript Performance
		div#chart-javascript.graph
			table
				caption A table to show JavaScript Performance
				thead
					tr
						th Time of Commit
						-each set in statistics[0]
							th= set.name
				tbody
					-each set, i in statistics
						tr
							td= new Date(reports[i].date).toLocaleDateString() + '&nbsp;' + new Date(reports[i].date).toLocaleTimeString()
							-each value in set
								td=value.value
		// form for selecting different rules
		form(method='post', class='rule-options')
			fieldset(class='date collapsible')
				h3.first Change the data range
					span.arrow
				ul
					li
						label(for='js-date-from') From:
						input(type='text', name='date-from', id='js-date-from', class='has-date-picker date-from', value='03/06/2012')
					li
						label(for='js-date-to') To:
						input(type='text', name='date-to', id='js-date-to', class='has-date-picker date-to', value='03/07/2012')
			fieldset.collapsible
				h3.last Update the rules shown
					span.arrow
				ul
					-each set in statistics[0]
						li
							input(type='checkbox', name='rules[]', value=set.id, id=set.id)
							label(for=set.id)= set.name
			input(type="submit", name="submit", value="Update Graph")
//footer
include includes/footer
//scripts
include includes/scripts
script
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.setOnLoadCallback(function(){chart.init()});