include includes/header
div#page
	div#content
		h1= name
		// export data form
		form(method='post', id='export')
			fieldset
				input(type='submit', name='export-project', value='Export all data')
		include includes/latest_information
		include includes/navigation
		h2 Worst Performing HTTP Rules
		div#http-chart.graph								
			table
				caption A table to show the worst performing HTTP rules
				thead
					tr
						th Time of Commit
						-if (selected !== null)
							-each rule, i in selected[0]
								th= rule.name
						-else 
							-var selected = []
							-each rule, i in statistics[0]
								-if ((i + 1) <= 4)
									-selected.push(rule.name)
									th= rule.name
				tbody
					-for(var i = 0; i < statistics.length; i = i + 1)
						tr
							td= new Date(reports[i].date).toLocaleDateString() + '&nbsp;' + new Date(reports[i].date).toLocaleTimeString()
							-if(selected !== null)
								-each rule, j in selected[i]
									td= rule.score
							-else
								-each rule, j in statistics[i]
									-if ((j + 1) <=  4)
										td= rule.score
		// form for selecting different rules
		form(method='post', class='rule-options')
			fieldset(class='date collapsible')
				h3.first Change the data range
					span.arrow
				ul
					li
						label(for='http-date-from') From:
						input(type='text', name='date-from', id='http-date-from', class='has-date-picker date-from', value='03/05/2012')
					li
						label(for='http-date-to') To:
						input(type='text', name='date-to', id='http-date-to', class='has-date-picker date-to', value='03/07/2012')
			fieldset.collapsible
				h3.last Update the rules shown
					span.arrow
				ul
					-each rule in statistics[0]
						li
							input(type='checkbox', name='rules[]', value=rule.id, id=rule.id)
							label(for=rule.id)= rule.name
			input(type="submit", name="submit", value="Update Worst Performing")
	//footer
	include includes/footer
	//scripts
	//include includes/scripts